.eagle-tails {
    height: auto;
    margin: 50px auto
    ;
}
.circleCoin {
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: blue;
    animation: coin-rotate 500ms linear infinite;
}
@keyframes coin-rotate {
  from {
    transform: rotateY(0);
  }

  to {
    transform: rotateY(180deg);
  }
}

.eagle {
  width: 150px;
  padding: 15px;
  margin: 10px;
  background: yellowgreen;
  text-align: center;
  cursor: pointer;
}

.tails {
  width: 150px;
  padding: 15px;
  margin: 10px;
  background: yellowgreen;
  text-align: center;
  cursor: pointer;
}

#choiceButton {
  margin: 50px auto;
  display: flex;
  justify-content: center;
}

.win {
  width: 150px;
  padding: 15px;
  margin: 10px;
  background: yellowgreen;;
  text-align: center;
  cursor: pointer;
}

.lose {
  width: 150px;
  padding: 15px;
  margin: 10px;
  background: yellowgreen;;
  text-align: center;
  cursor: pointer;
}

#winOrLose {
  margin: 50px auto;
  display: flex;
  justify-content: center;
}

.spanEagleTails {
  background-color: blue;
  color: black;
  font-size: 40px;
}

@media (max-width: 576px) {
  .eagleTails {
  width: 75px;
  font-size: 14px;
  height: 20px;
  }

  .circleCoin {
      width: 100px;
      height: 100px;

  }

  .eagle {
      width: 90px;
      padding: 7px;
      margin: 5px;
      font-size: 15px;
  }

  .tails {
    width: 90px;
    padding: 7px;
    margin: 5px;
    font-size: 15px;
}

.win {
  width: 90px;
  padding: 7px;
  margin: 5px;
  font-size: 13px;
}

.lose {
  width: 90px;
  padding: 7px;
  margin: 5px;
  font-size: 13px;
}

.spanEagleTails{
  font-size: 30px;
}

}
  @media (max-width: 375px) {

    .eagleTails {
      width: 75px;
      font-size: 14px;
      height: 20px;
      }


  .circleCoin {
    width: 100px;
    height: 100px;

}

.eagle {
    width: 90px;
    padding: 7px;
    margin: 5px;
    font-size: 15px;
}

.tails {
  width: 90px;
  padding: 7px;
  margin: 5px;
  font-size: 15px;
}

.win {
width: 90px;
padding: 7px;
margin: 5px;
font-size: 13px;
}

.lose {
width: 90px;
padding: 7px;
margin: 5px;
font-size: 13px;
}

.spanEagleTails{
  font-size: 30px;
}

}