* {
    margin: 0;
    padding: 0;
    background: #2e353d;
}


#game-wrap {
    display: flex;
    justify-content: center;
}



.menuButton {
    width: 150px;
    padding: 15px;
    margin: 10px;
    color: white;
    background: #007b32;
    text-align: center;
    cursor: pointer;
}

.menuButton:hover {
    background: #009641;
}

#game {
    border-collapse: collapse;
    margin: 1% 0 0 0;
}

#menu {
    display: flex;
    justify-content: center;
}

td.cell {
    width: 20px;
    height: 20px;
    border: 1px dotted #eee;
    border-collapse: collapse;
}

.food {
    background: #00d021;
}

.snakeBody {
    background: #e5e5e5;
}

.snakeHead {
    background: #9b0013;
}

.disabled {
    background: #7c7c7c;
}

.disabled:hover {
    background: #7c7c7c;
}

#game-param {
    margin: 0 auto;
    background-color: green;
    width: 380px;
    display: flex;
    justify-content: space-around;
}

span {
    background: green;
    color: white;
    display: inline-block;
    min-height: 19px;
}

select {
    background: green;
    border-color: green;
}

#game-panel {
    margin: 10px auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 240px;
}

.left-or-right {
    display: flex;
    justify-content: center;
}

#up {
    width: 60px;
    height: 60px;
    background: green;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

#left {
    width: 60px;
    height: 60px;
    background: green;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

#right {
    width: 60px;
    height: 60px;
    background: green;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
#down {
    width: 60px;
    height: 60px;
    background: green;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.center {
    background-color: #9b0013;
    width: 60px;
}

#save-block {
    width: 100%;
    height: 19px;
    display: none;
}

#game-speed {
    color: white;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#game-lenght {
    color: white;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#game-param > div:nth-child(1) {
    border: 2px solid green;
}

#game-param > div:nth-child(2) {
    border: 2px solid green;
}



/* мобильная версия */

@media (max-width: 576px) {

    td.cell {
        width: 10px;
        height: 10px;
        border: 1px dotted #eee;
        border-collapse: collapse;

    }

    .menuButton {
        width: 90px;
        padding: 7px;
        margin: 5px;
        font-size: 15px;
    }

    #game-param {
        width: 220px;
    }

    span {
        font-size: 15px;
    }

    #save-block {
        height: 19px;
    }

    #game-speed {
        size: 16px;
    }

    #game-lenght {
        size: 16px;
    }

    #game {
        margin: 5% 0 0 0;
    }
    #game-panel {
        margin: 50px auto;
    }
}
    @media (max-width: 375px) {

        td.cell {
            width: 10px;
            height: 10px;
            border: 1px dotted #eee;
            border-collapse: collapse;
    
        }
    
        .menuButton {
            width: 95px;
            padding: 7px;
            margin: 5px;
            font-size: 15px;
        }
    
        #game-param {
            width: 230px;
        }
    
        span {
            font-size: 18px;
        }
    
        #save-block {
            height: 19px;
        }

        #game-speed {
            size: 17px;
        }
    
        #game-length {
            size: 17px;
        }

        #game {
            margin: 5% 0 0 0;
        }

        #game-panel {
            margin: 50px auto;
        }
    }