@font-face {
    font-family: montserrat;
    src: url(../fonts/montserrat/montserrat-light.ttf);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: montserrat;
    src: url(../fonts/montserrat/montserrat-extralight.ttf);
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: raleway;
    src: url(../fonts/releway/raleway-regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: raleway;
    src: url(../fonts/releway/raleway-medium.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: raleway;
    src: url(../fonts/releway/raleway-semibold.ttf);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: raleway;
    src: url(../fonts/releway/raleway-extrabold.ttf);
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: raleway;
    src: url(../fonts/releway/raleway-light.ttf);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: raleway;
    src: url(../fonts/releway/raleway-extralight.ttf);
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: roboto;
    src: url(../fonts/roboto/roboto-regular.ttf);
    font-weight: 400;
    font-style: normal;
}

body {
    width: 1920px;
    margin: 0 auto;
}


/* навигация блока header начало */

.page_header {
    width: 100%;
    background-image: url(../img/background_header.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 40px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    box-sizing: border-box;
}

.header_logo_img {
    display: flex;
    text-decoration: none;
}

.header_logo_img:hover .header_logo {
    fill: #c7b299;
}

.header_logo_img:hover .logo_name {
    color: #c7b299;
}

.header_logo_img:active .header_logo {
    fill: black;
}

.header_logo_img:active .logo_name {
    color: black;
}

.header_logo {
    display: block;
    fill: white;
    margin: 0 0 0 335px;
}

.logo_name {
    display: block;
    width: 115px;
    min-height: 34px;
    text-transform: capitalize;
    font-family: raleway;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 300;
    font-style: normal;
    letter-spacing: -0.04em;
    color: #ffffff;
    margin: 10px 0 0 0;
    padding: 0;
}

.website_page_list {
    display: flex;
    min-height: 24px;
    margin: 25px 0 0 220px;
    padding: 0;
}

.menu_mobile_version {
    display: none;
}

.menu_mobile_version_list {
    display: none;
}

.menu_mobile_version_list_line {
    display: none;
}

.website_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.website_list_items {
    text-transform: capitalize;
    margin: 0 30px 0 0;
    padding: 0;
}

.website_list_link {
    text-decoration: none;
    font-family: montserrat;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 300;
    font-style: normal;
    color: #ffffff;
}

.website_list_link:hover {
    color: #c7b299;
}

.website_list_link:active {
    color: black;
}

.website_list_basket {
    display: block;
    background: transparent;
    border: none;
    min-height: 24px;
    margin: -5px 0 0 30px;
    padding: 0;
}

.website_list_basket:active,
.website_list_basket:focus {
    outline: none;
}

.website_list_basket_img {
    fill: white;
}

.website_list_basket_img:hover {
    fill: #c7b299;
}

.website_list_basket:active,
.website_list_basket:focus .website_list_basket_img {
    fill: black;
}

.website_search {
    width: auto;
    height: auto;
    margin: -5px 0 0 30px;
    padding: 0;
    position: relative;
}

.website_search_form {
    width: 24px;
    height: 24px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-image: url(../img/icon_search.png);
    background-color: transparent;
    border: none;
}

.website_search_form_img {
    position: absolute;
    top: 0;
    left: 0;
    fill: white;
}

.website_search_form_img:hover {
    fill: #c7b299;
}

.website_search_form_img:active {
    fill: black;
    stroke: black;
}


/* вторая часть блока header */

.page_header_content {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.page_header_content_arrow_left {
    display: block;
    width: 73px;
    min-height: 73px;
    opacity: 0.5;
    border-bottom: 3px solid #ffffff;
    border-left: 3px solid #ffffff;
    transform: rotate(45deg);
    box-sizing: border-box;
}

.page_header_content_arrow_left:hover {
    border-left: 3px solid #c7b299;
    border-bottom: 3px solid #c7b299;
    box-sizing: border-box;
}

.page_header_content_arrow_left:active {
    border-left: 3px solid black;
    border-bottom: 3px solid black;
    box-sizing: border-box;
}

.page_header_content_info {
    margin: 300px 0 0 0;
    padding: 0;
}

.page_header_content_info_txt_1 {
    display: block;
    text-align: center;
    width: 100%;
    font-family: raleway;
    font-size: 36px;
    line-height: 1.2;
    font-weight: 500;
    font-style: normal;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.page_header_content_info_txt_2 {
    display: block;
    width: 100%;
    text-align: center;
    font-family: raleway;
    font-size: 52px;
    line-height: 1.2;
    font-weight: 800;
    font-style: normal;
    color: #ffffff;
    margin: 10px 0 15px 0;
    padding: 0;
}

.page_header_content_info_txt_3 {
    display: block;
    width: 482px;
    text-align: center;
    font-family: montserrat;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    font-style: normal;
    color: #ffffff;
    padding: 0;
    margin: 0 0 0 45px;
    box-sizing: border-box;
}

.page_header_content_button {
    display: block;
    width: 170px;
    height: 53px;
    background-color: #998675;
    border-radius: 3.0px;
    box-sizing: border-box;
    border: none;
    font-family: raleway;
    font-size: 14px;
    line-height: 23px;
    font-weight: 800;
    font-style: normal;
    text-transform: uppercase;
    color: #ffffff;
    margin: 50px 0 0 205px;
    padding: 0;
}

.page_header_content_button:hover {
    background-color: #c7b299;
}

.page_header_content_button:active,
.page_header_content_button:focus {
    outline: none;
    color: black;
}

.page_header_content_arrow_right {
    display: block;
    width: 73px;
    min-height: 73px;
    opacity: 0.5;
    border-top: 3px solid #ffffff;
    border-right: 3px solid #ffffff;
    transform: rotate(45deg);
    box-sizing: border-box;
}

.page_header_content_arrow_right:hover {
    border-top: 3px solid #c7b299;
    border-right: 3px solid #c7b299;
    box-sizing: border-box;
}

.page_header_content_arrow_right:active {
    border-top: 3px solid black;
    border-right: 3px solid black;
    box-sizing: border-box;
}

.page_header_content_position {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 325px 0 0 0;
    padding: 0;
}

.page_header_content_position_items {
    display: block;
    margin: 0 0 0 10px;
    padding: 0;
    width: 15px;
    height: 15px;
}

.page_header_content_position_img {
    display: block;
    width: 11px;
    height: 11px;
    opacity: 0.5;
    background-color: #ffffff;
    border-radius: 50px;
    box-sizing: border-box;
}

.page_header_content_position_img:hover {
    height: 15px;
    width: 15px;
    box-sizing: border-box;
    margin: -2px -2px 0 -2px;
    padding: 0;
    border: 2px solid #ffffff;
    background: transparent;
}

.page_header_content_position_img:active {
    background-color: #c7b299;
}


/* начало 2-ого блока */

.page_main {
    width: 100%;
    margin: 0;
    padding: 0;
}

.page_new_project {
    width: 100%;
    padding: 80px 80px 110px 80px;
    margin: 0;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
}

.page_new_project_content {
    width: 266px;
    height: auto;
    margin: 0;
    padding: 0;
}

.page_new_project_content:hover .page_new_project_content_img {
    fill: #c7b299;
}

.page_new_project_content:hover .page_new_project_content_link {
    color: #c7b299;
}

.page_new_project_content:hover .page_new_project_content_txt {
    color: #c7b299;
}

.page_new_project_content:hover .page_new_project_content_txt:before {
    background-color: #c7b299;
}

.page_new_project_content:active .page_new_project_content_link {
    color: black;
}

.page_new_project_content_img {
    display: block;
    margin: 0 0 0 110px;
    padding: 0;
    fill: #555555;
}

.page_new_project_content_link {
    display: block;
    text-decoration: none;
    text-align: center;
    font-family: raleway;
    font-size: 22px;
    line-height: 1.2;
    font-weight: 600;
    font-style: normal;
    color: #555555;
    text-transform: capitalize;
    margin: 30px 0 0 0;
    padding: 0;
}

.page_new_project_content_link:active {
    color: red;
}

.page_new_project_content_txt {
    display: block;
    width: 100%;
    text-align: center;
    font-family: montserrat;
    font-size: 13px;
    line-height: 24px;
    font-weight: 300;
    font-style: normal;
    color: #8c8c8c;
    margin: 20px 0 0 0;
    padding: 0;
    position: relative;
}

.page_new_project_content_txt:before {
    content: "";
    width: 70px;
    height: 3px;
    background-color: #f1eee9;
    box-sizing: border-box;
    position: absolute;
    top: 100px;
    left: 95px;
}


/* начало 3-его блока */

.page_ideas {
    width: 100%;
    margin: 0;
    padding: 80px 0 0 0;
    background-color: #fbfaf8;
    box-sizing: border-box;
}

.page_ideas_header {
    display: block;
    text-align: center;
    font-family: raleway;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    font-style: normal;
    color: #555555;
    margin: 0;
    padding: 0;
}

.page_ideas_txt {
    display: block;
    text-align: center;
    font-family: montserrat;
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
    font-style: normal;
    color: #8c8c8c;
    margin: 30px 0 0 0;
    padding: 0;
}

.page_ideas_img {
    display: block;
    width: 1240px;
    height: 482px;
    background-image: url(../img/browser_center.png), url(../img/browser_left.png), url(../img/browser_right.png);
    background-position: center bottom, left bottom, right bottom;
    background-size: auto;
    background-repeat: no-repeat;
    margin: 40px 0 0 340px;
    padding: 0;
}


/* начало 4-ого блока */

.page_info_block {
    width: 100%;
    margin: 0;
    padding: 50px 380px;
    background-color: #f4f5f8;
    background-image: url(../img/Background_info.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.page_info_block_content {
    width: 530px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.page_info_block_header_1 {
    display: block;
    font-family: raleway;
    font-size: 28px;
    line-height: 1.2;
    font-weight: 400;
    font-style: normal;
    color: #c7b299;
    margin: 0;
    padding: 0
}

.page_info_block_header_2 {
    display: block;
    font-family: raleway;
    font-size: 28px;
    line-height: 1.2;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    margin: 0 0 0 5px;
    padding: 0;
}

.page_info_block_txt {
    display: block;
    font-family: montserrat;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 300;
    font-style: normal;
    color: #615855;
    margin: 0;
    padding: 0;
}

.page_info_block_button {
    display: block;
    width: 170px;
    font-family: raleway;
    font-size: 14px;
    line-height: 23px;
    font-weight: 800;
    font-style: normal;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #998675;
    border-radius: 3.0px;
    box-sizing: border-box;
    border: none;
    margin: 0;
    padding: 0;
}

.page_info_block_button:hover {
    background-color: #c7b299;
}

.page_info_block_button:active,
.page_info_block_button:focus {
    outline: none;
    color: black;
}


/* начало 5-ого блока*/

.page_example {
    width: 100%;
    padding: 80px 375px 80px 375px;
    margin: 0;
    background-color: #fbfaf8;
    box-sizing: border-box;
}

.page_example_header {
    display: block;
    text-align: center;
    font-family: raleway;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    font-style: normal;
    color: #555555;
    margin: 0;
    padding: 0;
}

.page_example_txt {
    display: block;
    text-align: center;
    font-family: montserrat;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    font-style: normal;
    color: #8c8c8c;
    padding: 0;
    margin: 20px 0 40px 0;
}

.page_example_button {
    display: flex;
    margin: 0;
    justify-content: center;
}

.page_example_button_items {
    text-transform: capitalize;
    font-family: montserrat;
    font-size: 14px;
    line-height: 21px;
    font-weight: 300;
    font-style: normal;
    color: #8c8c8c;
    height: 32px;
    margin: 0 10px 0 0;
    padding: 0;
    background-color: white;
    border: 1px solid #8c8c8c;
    border-radius: 3px;
    box-sizing: border-box;
}

.page_example_button_items:hover {
    color: white;
    background-color: #998675;
}

.page_example_button_items:active,
.page_example_button_items:focus {
    outline: none;
    color: black;
}

.page_example_button_items:nth-child(1) {
    padding: 0px 26px 0 26px;
}

.page_example_button_items:nth-child(2) {
    padding: 0px 18px 0 18px;
}

.page_example_button_items:nth-child(3) {
    padding: 0px 21px 0 21px;
}

.page_example_button_items:nth-child(4) {
    padding: 0px 24px 0 24px;
}

.page_example_button_items:nth-child(5) {
    padding: 0px 25px 0 25px;
}

.page_example_content {
    margin: 10px 0 0 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.page_example_content_block {
    margin: 30px 0 0 0;
    padding: 0;
    position: relative;
}

.page_example_content_block:hover:before {
    content: "";
    background-image: url(../img/lupa.png);
    width: 26px;
    height: 25px;
    position: absolute;
    top: 100px;
    left: 200px;
}

.page_example_content_block:hover:after {
    content: "";
    background-image: url(../img/link.png);
    width: 26px;
    height: 25px;
    position: absolute;
    top: 100px;
    left: 140px;
}

.page_example_content_block:hover .page_example_content_block_header {
    background-color: #362f2d;
    color: #ffffff;
}

.page_example_content_block:hover .page_example_content_block_txt {
    color: #c7b299;
    background-color: #362f2d;
}

.page_example_content_block_img {
    display: block;
    width: 370px;
    height: 237px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page_example_content_block:hover .page_example_content_block_header:before {
    content: "";
    border: 15px solid transparent;
    border-bottom: 10px solid #362f2d;
    position: absolute;
    top: -25px;
    left: 20px;
}

.page_example_content_block_header {
    display: block;
    font-family: raleway;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    font-style: normal;
    color: #c7b299;
    background-color: #fbfaf8;
    margin: 0;
    padding: 30px 30px 0 30px;
    text-transform: capitalize;
    position: relative;
}

.page_example_content_block_header::before {
    content: "";
    border: 15px solid transparent;
    border-bottom: 10px solid #fbfaf8;
    position: absolute;
    top: -25px;
    left: 20px;
}

.page_example_content_block_txt {
    display: block;
    font-family: montserrat;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    font-style: normal;
    color: #d1d1d1;
    background-color: #fbfaf8;
    margin: 0;
    padding: 10px 30px 30px 30px;
    text-transform: capitalize;
}

.page_example_content_button {
    display: block;
    width: 170px;
    height: 50px;
    font-family: raleway;
    font-size: 14px;
    line-height: 23px;
    font-weight: 800;
    font-style: normal;
    text-transform: uppercase;
    color: #ffffff;
    padding: 0;
    margin: 40px 0 0 500px;
    background-color: #998675;
    border-radius: 3.0px;
    border: none;
    box-sizing: border-box;
}

.page_example_content_button:hover {
    background-color: #c7b299;
}

.page_example_content_button:active,
.page_example_content_button:focus {
    outline: none;
    color: black;
}


/* начало 6-ого блока */

.page_video_block {
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
}

.page_video_block_button {
    position: absolute;
    top: 210px;
    left: 910px;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    background-image: url(../img/circle_video_block.png);
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page_video_block_button:active,
.page_video_block_button:focus {
    outline: none;
}

.page_video_block_button_icon {
    fill: white;
    margin: 3px 0 0 0;
    padding: 0;
}

.page_video_block_button_icon:hover {
    fill: #c7b299;
}

.page_video_block_button_icon:active {
    fill: black;
}

.page_video_block_header {
    display: block;
    position: absolute;
    width: 382px;
    min-height: 22px;
    font-family: raleway;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 500;
    font-style: normal;
    color: #ffffff;
    top: 350px;
    left: 800px;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}

.page_video_block_txt {
    display: block;
    width: 572px;
    min-height: 43px;
    font-family: montserrat;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    font-style: normal;
    color: #ffffff;
    position: absolute;
    top: 410px;
    left: 680px;
    margin: 0;
    padding: 0;
    text-align: center;
}

.page_video_block_time {
    display: block;
    width: 36px;
    min-height: 10px;
    font-family: montserrat;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    font-style: normal;
    color: #c7b299;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 490px;
    left: 940px;
}


/* начало 7-ого блока */

.page_mobile_block {
    width: 100%;
    margin: 0;
    padding: 80px 260px 0 420px;
    display: flex;
    background-color: #fbfaf8;
    box-sizing: border-box;
}

.page_mobile_block_img {
    display: block;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page_mobile_block_content {
    margin: 110px 0 0 30px;
    padding: 0
}

.page_mobile_block_content_header {
    display: block;
    font-family: raleway;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    font-style: normal;
    color: #555555;
}

.page_mobile_block_content_txt {
    display: block;
    font-family: montserrat;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    font-style: normal;
    color: #8c8c8c;
    margin: 30px 0 40px 0;
    padding: 0;
}

.page_mobile_block_content_list {
    list-style-type: none;
    margin: 0 0 0 115px;
    padding: 0;
}

.page_mobile_block_content_items {
    font-family: montserrat;
    font-size: 16px;
    line-height: 32px;
    font-weight: 300;
    font-style: normal;
    color: #8c8c8c;
    margin: 0;
    padding: 0;
    position: relative;
}

.page_mobile_block_content_items:before {
    content: "";
    width: 21px;
    height: 21px;
    background-image: url(../img/iphone_list_items.png);
    position: absolute;
    border: none;
    box-sizing: border-box;
    top: 5px;
    left: -50px;
}


/* начало 8-ого блока */

.block_client {
    width: 100%;
    margin: 0;
    padding: 70px 350px 90px 350px;
    background-image: url(../img/ackground_client_block.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
}

.block_client_info {
    width: 16%;
    margin: 0;
    padding: 0;
}

.block_client_info_img {
    display: block;
    fill: #c7b299;
    margin: 0;
    padding: 0;
}

.block_client_info_number {
    display: block;
    font-family: montserrat;
    font-size: 48px;
    line-height: 36px;
    font-weight: 200;
    font-style: normal;
    color: #ffffff;
    margin: 30px 0 20px 0;
    padding: 0;
    text-align: center;
}

.block_client_info_txt {
    display: block;
    font-family: montserrat;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    font-style: normal;
    text-transform: uppercase;
    color: #c7b299;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
}

.block_client_info_txt:before {
    content: "";
    width: 30px;
    height: 2px;
    background-color: #ffffff;
    border: none;
    box-sizing: border-box;
    position: absolute;
    top: 45px;
    left: 50px;
}

.block_client_info:nth-child(1) .block_client_info_img {
    margin: 0 0 0 75px;
}

.block_client_info:nth-child(1) .block_client_info_txt:before {
    left: 80px;
}

.block_client_info:nth-child(2) .block_client_info_img {
    margin: 0 0 0 70px;
}

.block_client_info:nth-child(2) .block_client_info_txt:before {
    left: 82px;
}

.block_client_info:nth-child(3) .block_client_info_img {
    margin: 0 0 0 75px;
}

.block_client_info:nth-child(3) .block_client_info_txt:before {
    left: 78px;
}

.block_client_info:nth-child(4) .block_client_info_img {
    margin: 0 0 0 75px;
}

.block_client_info:nth-child(4) .block_client_info_txt:before {
    left: 83px;
}

.block_client_info:nth-child(5) .block_client_info_img {
    margin: 0 0 0 68px;
}

.block_client_info:nth-child(5) .block_client_info_txt:before {
    left: 80px;
}


/* начало 9-ого блока */

.page_post_block {
    width: 100%;
    margin: 0;
    padding: 80px 380px 80px 380px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
}

.page_post_block_header {
    display: block;
    width: 100%;
    font-family: raleway;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    font-style: normal;
    color: #555555;
    text-transform: capitalize;
    text-align: center;
    margin: 0;
    padding: 0;
}

.page_post_block_txt {
    display: block;
    width: 100%;
    font-family: montserrat;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    font-style: normal;
    color: #8c8c8c;
    text-align: center;
    margin: 30px 0 40px 0;
    padding: 0;
    box-sizing: border-box;
}

.page_post_block_content {
    width: 370px;
    margin: 0;
    padding: 0;
    border: 1.0px solid #f8f8f8;
    box-sizing: border-box;
}

.page_post_header {
    display: block;
    margin: 25px 0 0 30px;
    padding: 0;
    font-family: raleway;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    color: #555555;
}

.page_post_txt {
    display: block;
    margin: 20px 0px 20px 25px;
    padding: 0;
    font-family: montserrat;
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    color: #8c8c8c;
    box-sizing: border-box;
}

.page_post_block_link {
    display: block;
    margin: 0 0 30px 30px;
    padding: 0;
    font-family: montserrat;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: #c7b299;
    text-decoration: none;
    text-transform: capitalize;
    box-sizing: border-box;
    position: relative
}

.page_post_block_link:after {
    content: "";
    border: 5px solid transparent;
    border-left: 5px solid #c7b299;
    position: absolute;
    top: 5px;
    left: 85px;
}

.page_post_button {
    padding: 0;
    margin: 40px 10px 0 0;
    border: none;
    box-sizing: border-box;
    background-color: transparent;
}

.page_post_button_img {
    fill: #d1d1d1;
}

.page_post_block .page_post_block_content:nth-child(4) {
    margin: 0 25px 0 25px;
}

.page_post_block .page_post_block_content {
    position: relative;
}

.page_post_block_content_list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0 0 0 0;
    padding: 0;
    position: absolute;
    top: 180px;
    left: 120px;
}

.page_post_block_content_list_items {
    display: block;
    margin: 0 0 0 10px;
    padding: 0;
    width: 15px;
    height: 15px;
}

.page_post_block_content_list_img {
    display: block;
    width: 11px;
    height: 11px;
    opacity: 0.5;
    background-color: #ffffff;
    border-radius: 50px;
    box-sizing: border-box;
}

.page_post_block_content_list_img:hover {
    transform: scale(1.36);
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 50%;
    box-sizing: border-box;
}

.page_post_block_content_list_img:active {
    background-color: #c7b299;
}

.page_post_button:active,
.page_post_button:focus {
    outline: none;
}

.page_post_button_img:hover {
    fill: #c7b299;
}

.page_post_button_img:active {
    fill: black;
}

.page_post_block_content:after {
    content: "30";
    width: 50px;
    background-color: #363636;
    border-radius: 3px 3px 0 0;
    border: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: montserrat;
    font-style: normal;
    font-size: 24px;
    line-height: 35px;
    font-weight: 300;
    color: #ffffff;
    top: 20px;
    left: 20px;
    display: block;
    position: absolute;
    text-align: center;
}

.page_post_block_content:hover:after {
    background-color: #c7b299;
}

.page_post_block_content:before {
    content: "Sep.";
    width: 50px;
    background-color: #252525;
    border-radius: 0 0 3px 3px;
    font-family: roboto;
    font-style: normal;
    font-size: 12px;
    line-height: 25px;
    font-weight: 400;
    color: #ffffff;
    display: block;
    position: absolute;
    border: none;
    box-sizing: border-box;
    text-align: center;
    top: 54px;
    left: 20px;
}

.page_post_block_content:hover:before {
    background-color: #a48d72;
}

.page_post_block_link:hover {
    color: #998675;
}

.page_post_block_link:hover:after {
    border: 5px solid transparent;
    border-left: 5px solid #998675;
}

.page_post_block_link:active {
    color: black;
}

.page_post_block_link:active:after {
    border: 5px solid transparent;
    border-left: 5px solid black;
}

.page_post_block_content:hover {
    background-color: #362f2d;
}

.page_post_block_content_img {
    width: 100%;
    height: 220px;
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

.page_post_block_content:hover .page_post_header {
    color: #c7b299;
}

.page_post_block_content:hover .page_post_txt {
    color: #ffffff;
}


/* начало 10-ого блока */

.page_footer_block {
    width: 100%;
    margin: 0;
    padding: 0;
}

.page_footer_block_partner {
    width: 100%;
    margin: 0;
    padding: 130px 400px 130px 400px;
    background-image: url(../img/partners_footer_block.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.page_footer_block_partner_link {
    display: block;
    margin: 0;
    padding: 0;
    width: 210px;
    box-sizing: border-box;
    text-decoration: none;
}

.page_footer_block_partner_link:hover {
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: 2px solid white;
    box-sizing: border-box;
    border-radius: 50%;
    transition: border 50ms ease;
}

.page_footer_block_partner_link:active {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: 2px solid white;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: black;
}

.page_footer_block_partner_link:hover .page_footer_block_partner_img {
    transform: scale(0.7);
    transition: transform 10ms ease;
    transform-origin: center center;
    border: none;
}

.page_footer_block_partner_img {
    display: block;
    width: 210px;
    padding: 0;
}

.page_footer_block_partner_link:nth-child(1) {
    height: 127px;
    margin: 40px 0 0 0;
}

.page_footer_block_partner_link:nth-child(1) .page_footer_block_partner_img {
    height: 127px;
}

.page_footer_block_partner_link:nth-child(2) {
    height: 210px;
}

.page_footer_block_partner_link:nth-child(2) .page_footer_block_partner_img {
    height: 210px;
}

.page_footer_block_partner_link:nth-child(3) {
    height: 130px;
    margin: 30px 0 0 0;
}

.page_footer_block_partner_link:nth-child(3) .page_footer_block_partner_img {
    height: 130px;
}

.page_footer_block_partner_link:nth-child(4) {
    height: 164px;
    margin: 15px 0 0 0;
}

.page_footer_block_partner_link:nth-child(4) .page_footer_block_partner_img {
    height: 164px;
}

.page_footer_block_partner_link:nth-child(1):hover .page_footer_block_partner_img {
    transform: scale(0.6);
}

.page_footer_block_partner_link:nth-child(2):hover .page_footer_block_partner_img {
    transform: scale(0.8);
}


/* начало 11-ого блока */

.page_footer_block_contetn {
    width: 100%;
    margin: 0;
    padding: 75px 370px 85px 380px;
    background-color: #191919;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.page_footer_block_contetn_waxon {
    width: 258px;
    margin: 0;
    padding: 0;
}

.page_footer_block_contetn_waxon_link {
    text-decoration: none;
    display: flex;
    margin: 0;
    padding: 0
}

.page_footer_block_contetn_waxon_logo {
    display: block;
    fill: white;
    margin: 0;
    padding: 0;
}

.page_footer_block_contetn_waxon_link:hover .page_footer_block_contetn_waxon_logo {
    fill: #c7b299;
}

.page_footer_block_contetn_waxon_link:active .page_footer_block_contetn_waxon_logo {
    fill: black;
}

.page_footer_block_contetn_waxon_link:hover .page_footer_block_contetn_waxon_name {
    color: #c7b299;
}

.page_footer_block_contetn_waxon_link:active .page_footer_block_contetn_waxon_name {
    color: black;
}

.page_footer_block_contetn_waxon_name {
    display: block;
    font-family: raleway;
    font-style: normal;
    font-size: 34px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: -0.04em;
    color: #ffffff;
    text-transform: capitalize;
    padding: 0;
    margin: 0;
}

.page_footer_block_contetn_waxon_txt {
    display: block;
    margin: 30px 0 30px 0;
    padding: 0;
    font-family: montserrat;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #555555;
}

.page_footer_block_contetn_waxon_txt:hover {
    color: #c7b299;
}

.page_footer_block_contetn_waxon_footer_link {
    display: block;
    margin: 0;
    padding: 0;
    font-family: montserrat;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #d1d1d1;
    text-decoration: none;
    text-transform: capitalize;
    box-sizing: border-box;
    position: relative
}

.page_footer_block_contetn_waxon_footer_link:hover {
    color: #c7b299;
}

.page_footer_block_contetn_waxon_footer_link:active {
    color: black;
}

.page_footer_block_contetn_waxon_footer_link:after {
    content: "";
    border: 5px solid transparent;
    border-left: 5px solid #d1d1d1;
    position: absolute;
    top: 5px;
    left: 85px;
}

.page_footer_block_contetn_waxon_footer_link:hover:after {
    border: 5px solid transparent;
    border-left: 5px solid #c7b299;
}

.page_footer_block_contetn_waxon_footer_link:active:after {
    border: 5px solid transparent;
    border-left: 5px solid black;
}

.page_footer_block_contetn_post {
    width: 270px;
    margin: 25px 0 0 0;
    padding: 0;
}

.page_footer_block_contetn_post_header {
    display: block;
    font-family: raleway;
    font-style: normal;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 700;
    color: #ffffff;
    text-transform: capitalize;
    margin: 0 0 30px 0;
    padding: 0;
}

.page_footer_block_contetn_post_date {
    display: block;
    font-family: montserrat;
    font-style: normal;
    font-size: 12px;
    line-height: 20px;
    font-weight: 300;
    color: #363636;
    text-transform: capitalize;
    margin: 15px 0 10px 0;
    padding: 0;
}

.page_footer_block_contetn_post_txt {
    display: block;
    margin: 0;
    padding: 0 0 20px 0;
    font-family: montserrat;
    font-style: normal;
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
    color: #555555;
    border-bottom: 2px solid #252525;
    box-sizing: border-box;
}

.page_footer_block_contetn_post_txt:hover .page_footer_block_contetn_post_date {
    color: #ffffff;
}

.page_footer_block_contetn_post_txt:hover {
    color: #c7b299;
}

.page_footer_block_contetn_post_txt:nth-child(4) {
    border: none;
}

.page_footer_block_contetn_twitter {
    width: 270px;
    margin: 25px 0 0 0;
    padding: 0;
}

.page_footer_block_contetn_twitter_header {
    display: block;
    font-family: raleway;
    font-style: normal;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 700;
    color: #ffffff;
    margin: 0 0 30px 0;
    padding: 0;
    text-transform: capitalize;
}

.page_footer_block_contetn_twitter_txt {
    display: block;
    margin: 15px 0 0 0;
    padding: 0;
    font-family: montserrat;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: #555555;
    border-bottom: 2px solid #252525;
    box-sizing: border-box;
}

.page_footer_block_contetn_twitter_txt_word {
    font-family: montserrat;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: #00bff3;
}

.page_footer_block_contetn_twitter_time {
    display: block;
    margin: 10px 0 20px 0;
    padding: 0;
    font-family: montserrat;
    font-style: normal;
    font-size: 12px;
    line-height: 20px;
    font-weight: 300;
    color: #363636;
}

.page_footer_block_contetn_twitter_txt:nth-child(4) .page_footer_block_contetn_twitter_txt_word {
    color: #959595;
}

.page_footer_block_contetn_twitter_txt:nth-child(4) {
    border: none;
}

.page_footer_block_contetn_twitter_txt:hover {
    color: #c7b299;
}

.page_footer_block_contetn_twitter_txt:hover .page_footer_block_contetn_twitter_time {
    color: #ffffff;
}

.page_footer_block_contetn_widget {
    width: 270px;
    margin: 25px 0 0 0;
    padding: 0;
}

.page_footer_block_contetn_widget_header {
    display: block;
    margin: 0;
    padding: 0;
    font-family: raleway;
    font-style: normal;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 700;
    color: #ffffff;
    text-transform: capitalize;
}

.page_footer_block_contetn_widget_img {
    margin: 15px 0 0 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.page_footer_block_contetn_img {
    display: block;
    margin: 10px 0 0 0;
    padding: 0;
}

.page_footer_block_contetn_img:hover {
    filter: brightness(50%);
}


/* начало 12-ого блока */

.page_footer_block_basement {
    width: 100%;
    margin: 0;
    padding: 75px 0 85px 0;
    background-color: #111111;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.page_footer_block_basement_copy {
    display: block;
    font-family: montserrat;
    font-style: normal;
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
    color: #555555;
    margin: 0;
    padding: 0 15px 0 0;
    text-transform: capitalize;
    box-sizing: border-box;
}

.page_footer_block_basement_copy_word {
    color: #959595;
}

.page_footer_block_basement_link {
    text-decoration: none;
    display: block;
    font-family: montserrat;
    font-style: normal;
    text-transform: capitalize;
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
    color: #555555;
    margin: 0;
    padding: 0 15px 0 15px;
    border-left: 1px solid #252525;
    box-sizing: border-box;
}

.page_footer_block_basement_link:hover {
    color: #c7b299;
}

.page_footer_block_basement_link:active {
    color: black;
}

.page_footer_block_basement_designer {
    display: block;
    margin: 0;
    padding: 0 12px 0 12px;
    font-family: montserrat;
    font-style: normal;
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
    color: #555555;
    box-sizing: border-box;
}

.page_footer_block_basement_designer_word {
    color: #959595;
}

.page_footer_block_basement_link:nth-child(3) {
    text-transform: uppercase;
}

.page_footer_block_basement_designer:nth-child(5) {
    margin: 0 0 0 380px;
}

.page_footer_block_basement_designer:nth-child(6) {
    border-left: 1px solid #252525;
    box-sizing: border-box;
}


/* мобильная веррсия */

@media (max-width: 576px) {
    body {
        width: 576px;
        margin: 0 auto;
    }
    .page_header {
        padding: 40px;
        box-sizing: border-box;
    }
    .header_logo {
        margin: 0;
    }
    .website_page_list {
        height: 0;
    }
    .website_page_list:active {
        height: auto;
    }
    .menu_mobile_version {
        opacity: 0;
    }
    .menu_mobile_version:checked ~ .menu_mobile_version_list .menu_mobile_version_list_line {
        transform: rotate(45deg);
    }
    .menu_mobile_version:checked ~ .menu_mobile_version_list .menu_mobile_version_list_line::before {
        top: 0;
        transform: rotate(0);
    }
    .menu_mobile_version:checked ~ .menu_mobile_version_list .menu_mobile_version_list_line::after {
        top: 0;
        transform: rotate(90deg);
    }
    .menu_mobile_version:checked ~ .website_list {
        visibility: visible;
        right: 0;
    }
    .menu_mobile_version:checked ~ .website_list_basket {
        visibility: visible;
        right: 0;
    }
    .menu_mobile_version:checked ~ .website_search {
        visibility: visible;
        right: 0;
    }
    .menu_mobile_version_list {
        display: block;
        align-items: center;
        position: relative;
        top: 5px;
        left: 0px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
    }
    .menu_mobile_version_list_line,
    .menu_mobile_version_list_line::before,
    .menu_mobile_version_list_line::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #616161;
    }
    .menu_mobile_version_list_line::before {
        content: "";
        top: -8px;
    }
    .menu_mobile_version_list_line::after {
        content: "";
        top: 8px;
    }
    .website_list {
        display: flex;
        visibility: hidden;
        position: absolute;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        top: 0;
        left: 0;
        width: 100%;
        margin: 110px 0 0 0;
        padding: 0;
        background-color: #ECEFF1;
        overflow-x: hidden;
        color: black;
    }
    .website_list_basket {
        display: block;
        visibility: hidden;
        position: relative;
        top: -5px;
        left: -190px;
        width: 0;
        margin: 0;
        padding: 0;
    }
    .website_search {
        display: block;
        visibility: hidden;
        position: relative;
        top: -5px;
        left: -130px;
        width: 0;
        margin: 0;
        padding: 0;
    }
    .website_list_items {
        display: block;
        padding: 12px 24px;
        font-size: 20px;
        font-weight: 600;
    }
    .website_list_link {
        color: black;
    }
    .website_list_items:nth-child(2) {
        padding: 12px 10px 0 0;
    }
    .website_list_items:hover {
        background-color: #CFD8DC;
    }
    .website_search_form {
        display: none;
    }
    .page_header_content {
        display: none;
    }
    .page_main {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .page_new_project {
        flex-wrap: wrap;
        padding: 10px 0 0 0;
        justify-content: space-around;
        box-sizing: border-box;
    }
    .page_new_project_content {
        width: 46%;
    }
    .page_new_project_content:nth-child(3) {
        margin: 70px 0 70px 0;
    }
    .page_new_project_content:nth-child(4) {
        margin: 70px 0 70px 0;
    }
    .page_ideas {
        padding: 10px 0 0 0;
        box-sizing: border-box;
    }
    .page_ideas_txt > br {
        display: none;
    }
    .page_ideas_txt {
        width: 90%;
        margin: 10px auto;
    }
    .page_ideas_img {
        width: 100%;
        background-size: 60%;
        height: 230px;
        margin: 0;
    }
    .page_info_block {
        display: none;
    }
    .page_example {
        padding: 10px 0 0 0;
        box-sizing: border-box;
    }
    .page_example_txt > br {
        display: none;
    }
    .page_example_txt {
        width: 90%;
        margin: 10px auto;
    }
    .page_example_button_items:nth-child(2) {
        padding: 0 5px 0 5px;
        box-sizing: border-box;
    }
    .page_example_button_items:nth-child(3) {
        padding: 0 5px 0 5px;
        box-sizing: border-box;
    }
    .page_example_button_items:nth-child(4) {
        padding: 0 5px 0 5px;
        box-sizing: border-box;
    }
    .page_example_button_items:nth-child(5) {
        padding: 0 5px 0 5px;
        box-sizing: border-box;
    }
    .page_example_content_block {
        margin: 10px auto;
    }
    .page_example_content_button {
        margin: 0 auto;
    }
    .page_video_block {
        display: none;
    }
    .page_mobile_block {
        padding: 10px 0 10px 0;
        box-sizing: border-box;
    }
    .page_mobile_block_img {
        width: 25%;
        height: 25%;
    }
    .page_mobile_block_content {
        margin: 0;
        width: 74%;
    }
    .page_mobile_block_content_txt {
        line-height: 23px;
        margin: 15px 0 0 10px;
    }
    .page_mobile_block_content_list {
        margin: 10px 0 0 -40px
    }
    .block_client {
        display: none;
    }
    .page_post_block {
        padding: 10px;
        box-sizing: border-box;
    }
    .page_post_block_txt > br {
        display: none;
    }
    .page_post_block_txt {
        width: 90%;
        margin: 10px auto;
    }
    .page_post_block_content {
        margin: 0 0 10px 0;
    }
    .page_post_block_content:nth-child(4) {
        margin: 0 0 10px 0;
    }
    .page_post_button {
        display: none;
    }
    .page_footer_block_partner {
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 30px 70px 0px 70px;
        box-sizing: border-box;
    }
    .page_footer_block_partner_link {
        width: 147px;
    }
    .page_footer_block_partner_link:nth-child(1) .page_footer_block_partner_img {
        height: 89px;
        width: 147px;
    }
    .page_footer_block_partner_link:nth-child(2) .page_footer_block_partner_img {
        height: 147px;
        width: 147px;
    }
    .page_footer_block_partner_link:nth-child(3) .page_footer_block_partner_img {
        height: 91px;
        width: 147px;
    }
    .page_footer_block_partner_link:nth-child(4) .page_footer_block_partner_img {
        height: 115px;
        width: 147px;
    }
    .page_footer_block_contetn {
        display: none;
    }
    .page_footer_block_basement {
        flex-wrap: wrap;
        justify-content: center;
        padding: 25px 0 25px 0;
        box-sizing: border-box;
    }
    .page_footer_block_basement_designer:nth-child(5) {
        margin: 20px 0 0 0;
    }
    .page_footer_block_basement_designer {
        margin: 20px 0 0 0;
    }
}